target
*.class
.bzr
*.log
.classpath
.project
classes
.sass-cache
.DS_Store
.settings
eclipse_workspace_settings.epf
userScripts/**
*.bat
*.bak
.DS_Store
userScripts/**
scripts/**
bin/
*.hprof
*.hprof.index
build.info
*.sql
*.gz
import_script/**